$font-primary: 'PT Sans', Arial, serif;

// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #ff3b30 !default;
$brand-secondary: #1fb5f6 !default; 



$brand-white: #fff;
$brand-black: #000;
$brand-darker: #333;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #f1f1f1;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-footer: #3f5267;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;



// Mixin
@mixin transition($transition) {
    -moz-transition:    $transition ease;
    -o-transition:      $transition ease;
    -webkit-transition: $transition ease;
    -ms-transition: 		$transition ease;
    transition:         $transition ease;
}
@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
@mixin flex() {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flex() {
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
}
@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	-moz-flex-wrap: wrap; 
}

@mixin fh5co-gradient() {
	// Gradient
		background-color: $brand-primary;
		/* IE9, iOS 3.2+ */
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
		background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(82, 211, 170)),color-stop(1, rgb(63, 149, 234)));
		/* Android 2.3 */
		background-image: -webkit-repeating-linear-gradient(top left,rgb(82, 211, 170) 0%,rgb(63, 149, 234) 100%);
		/* IE10+ */
		background-image: repeating-linear-gradient(to bottom right,rgb(82, 211, 170) 0%,rgb(63, 149, 234) 100%);
		background-image: -ms-repeating-linear-gradient(top left,rgb(82, 211, 170) 0%,rgb(63, 149, 234) 100%);
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srf3rx');
	src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon() {
	
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

// Import 
@import 'bootstrap/mixins';
@import 'bootstrap/variables';




/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */

// Template Base
body {
	font-family: $font-primary;
	font-weight: 300;
	font-size: 20px;
	line-height: 1.5;
	color: lighten($brand-darker, 20%);
	color: #7f7f7f;
	background: $brand-bg-color;
	height: 100%;
	position: relative;
	
}
a {
	color: $brand-primary;
	@include transition(.5s);
	&:hover, &:active, &:focus {
		color: $brand-primary;
		outline: none;
	}
}
p {
	margin-bottom: 1.5em;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	color: $brand-darker;
	font-family: $font-primary;
	font-weight: 400;
	margin: 0 0 30px 0;
}
::-webkit-selection {
  color: $brand-white;
  background: $brand-secondary;
}

::-moz-selection {
  color: $brand-white;
  background: $brand-secondary;
}

::selection {
  color: $brand-white;
  background: $brand-secondary;
}


#fh5co-header {
	// position: relative;
	position: absolute;
	z-index: 99;
	width: 100%;
	opacity: 1;
	top: 0;

	.navbar {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	#navbar {
		
		.navbar-right {
			margin-right: 0;
			@media screen and (max-width: $screen-md) {
				margin-right: -15px;
			}
		}
		li {

			a {
				font-family: $font-primary;
				color: rgba(0,0,0,.5);
				position: relative;
				// text-transform: uppercase;
				font-size: 16px;
				font-weight: 400;
				// @include transition(.5s);
				@media screen and (max-width :$screen-md) {
					padding-left: 10px!important;
					padding-right: 10px!important;
				}


				

				span {
					position: relative;
					display: block;
					padding-bottom: 2px;
					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 2px;
						bottom: 0;
						left: 0;
						background-color: rgba(255,255,255,.5);
						visibility: hidden;
						-webkit-transform: scaleX(0);
						-moz-transform: scaleX(0);
						-ms-transform: scaleX(0);
						-o-transform: scaleX(0);
						transform: scaleX(0);
						-webkit-transition: all 0.3s ease-in-out 0s;
						-moz-transition: all 0.3s ease-in-out 0s;
						-ms-transition: all 0.3s ease-in-out 0s;
						-o-transition: all 0.3s ease-in-out 0s;
						transition: all 0.3s ease-in-out 0s;
					}
				}
				&:hover {
					// color: $brand-primary;
					color: $brand-black;
					// color: rgba(255,255,255,1);
					span {
						&:before {
							visibility: visible;
							-webkit-transform: scaleX(1);
							-moz-transform: scaleX(1);
							-ms-transform: scaleX(1);
							-o-transform: scaleX(1);
							transform: scaleX(1);
						}
					}
				}

			}
			&.active {
				a {
					background: transparent;
					background: none;
					@media screen and (max-width: $screen-xs) {
						color: $brand-primary;
					}
					span {
						&:before {
							visibility: visible;
							-webkit-transform: scaleX(1);
							transform: scaleX(1);
							background-color: $brand-primary;
							@media screen and (max-width: $screen-xs) {
								background-color: transparent;
								
							}
						}
					}
				}
			}
			&.call-to-action{
				a {
					border: 2px solid $brand-primary;
					padding: 5px 10px 3px 10px;
					margin: 12px 0 0 0px;
					@include border-radius(30px);
					&:hover {
						background-color: $brand-primary;
						color: $brand-white;
					}
					span {
						&:before {
							background-color: transparent;	
						}
						
					}
				}
			}
		}
	}
	.navbar-brand {
		float: left;
		display: block;
		font-size: 24px;
		font-weight: 700;
		padding-left: 0;
		color: #535659;
		text-transform: uppercase;
		letter-spacing: 3px;
		> span {
			color: $brand-primary;
		}
		@media screen and (max-width: $screen-md) {
			padding-left: 10px!important;
			padding-right: 0!important;
		}
		
	}
	&.navbar-fixed-top {
		position: fixed!important;
		background: $brand-white;
		-webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
		-moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
		-ms-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
		box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
		margin-top: 0px;
		top: 0;
		.navbar-brand {
			color: #535659;
		}
		#navbar {

			li {
				a {
					color: rgba(0,0,0,.5) !important;
					@include transition(.3s);
					&:hover {
						color: $brand-primary;
					}
				}
				&.active {
					a {
						color: $brand-primary!important;	
						@media screen and (max-width: $screen-sm) {
							color: $brand-primary!important;	
						}
						
						span {
							&:before {
								visibility: visible;
								-webkit-transform: scaleX(1);
								transform: scaleX(1);
								background-color: $brand-primary;
								@media screen and (max-width: $screen-sm) {
									background-color: transparent;
								}
								
							}
						}
					}
				}
				&.call-to-action{
					a {
						border: 2px solid $brand-primary;
						padding: 5px 10px 3px 10px;
						margin: 12px 0 0 0px;
						@include border-radius(30px);
						&:hover {
							background-color: $brand-primary;
							color: $brand-white!important;
						}
						span {
							&:before {
								background-color: transparent;	
							}
							
						}
					}
				}
			}
		}
	}
	.navbar-default {
		border: transparent;
		background: $brand-white;
		margin: 0;
		padding-left: 50px;
		padding-right: 50px;
		@include border-radius(0px);
		@media screen and (max-width: $screen-sm) {
			margin-top: 0px;
			padding-right: 0px;
			padding-left: 0px;
		}
		.brand-slogan {
			margin: 28px 0 0 15px;
			float: left;
			letter-spacing: 2px;
			color: #adadad;
			em {
				color: $brand-primary;
				font-style: normal;
			}
		}
	}

}

#fh5co-home {
	background-color: transparent;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	width: 100%;
	
	background-color: $brand-primary;
	color: #fff;
	// overflow: hidden;
	a {
		color: rgba(255,255,255,.8)!important;
		text-decoration: underline;
		&:hover {
			color: $brand-white;
			text-decoration: none;
		}
	}
	.gradient {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		// opacity: .4;
		background: rgba(0, 0, 0, .3);
		// -webkit-backface-visibility: hidden; // for Chrome Windows
		
		// @include fh5co-gradient;
	}
	&, .text-wrap {
		height: 900px;
	}
	.text-wrap {
		display: table;
		width: 100%;
		position: relative;
		z-index: 4;
	}
	.text-inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		
		h1 {
			font-size: 38px;
			text-transform: uppercase;
			color: rgba(255,255,255,1);
			margin: 0 0 20px 0;
			font-weight: 700;
		}
		h2 {
			font-size: 20px;
			line-height: 30px;
			font-weight: 300;
			color: rgba(255,255,255,.8);
			margin: 0 0 60px 0;
		}
		.call-to-action{
			display: block;
			width: 100%;

			a{
				width: 230px;
				display: inline-block;
				font-size: 20px;
				padding: 15px 0;
				@include border-radius(4px);
				margin-right: 10px;

				-webkit-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.19);
				-moz-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.19);
				-ms-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.19);
				-o-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.19);
				box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.19);

				&.demo{
					@media screen and (max-width :$screen-sm) {
						margin-bottom: 20px;
					}
					border: 2px solid #fff;
					&:hover {
						background: rgba(255,255,255,.2);
					}
					text-decoration: none!important;
				}

				&.download{
					border: 2px solid $brand-primary;
					background: $brand-primary;
					text-decoration: none!important;
				}
			}
		}
	}
}


#fh5co-services, #fh5co-testimony, #fh5co-explore, #fh5co-faq, #fh5co-team, #fh5co-trusted, #fh5co-footer {
	padding: 5em 0;
	@media screen and (max-width: $screen-sm) {
		padding: 2em 0;
	}
}
#fh5co-work, #fh5co-counters {
	padding: 7em 0;
	@media screen and (max-width: $screen-sm) {
		padding: 4em 0;
	}	
}

.fh5co-explore{
	// margin-bottom: 80px;
	padding-bottom: 40px;
}

.fh5co-explore-bg-color{
	width: 100%;
	background: $brand-body-color;
	padding: 80px 0;
	// padding: 80px 40px;
	margin-bottom: 0;
}

.mt{
	margin-top: 80px;
	margin-bottom: 80px;

	h4{
		position: relative;
		padding-left: 40px;
		font-size: 20px;
		i{
			position: absolute;
			left: 0;
			top: 0;
			color: $brand-secondary;
		}
	}

	> div{
		margin-bottom: 40px;
	}

	.list-nav{
		margin: 50px 0 0 0;
		padding: 0;

		li{
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 16px;
			padding-left: 30px;
			margin-bottom: 10px;
			position: relative;

			i{
				position: absolute;
				left: 0;
				top: 0;
				font-size: 18px;
				color: $brand-secondary;
			}	
		}
	}
}

#fh5co-testimony{
	// margin-bottom: 80px;
	// padding: 0 40px;

	.wrap-testimony{
		position: relative;
		width: 100%;

		.testimony-slide{
			// display: none;
			text-align: center;
			span{
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-weight: 700;

				a.twitter{
					color: $brand-secondary;
					font-weight: 300;
				}
			}

			figure{
				margin-bottom: 20px;
				@include inline-block;
				
				img {
					width: 90px;
					@include border-radius(50%);
				}
			}

			blockquote{
				border: none;
				margin: 0 auto;
				width: 72%;
				position: relative;
				padding-bottom: 30px;
				margin-bottom: 30px;

				@media screen and (max-width: $screen-md) {
					width: 100%;
				}

				p{
					font-style: italic;
					color: #8f989f;
					font-size: 20px;
					line-height: 1.6em;
				}

				&:after {
					content: "";
					position: absolute;
					display: block;
					width: 50px;
					height: 2px;
					background: $brand-secondary;
					left: 50%;
					margin-left: -25px;
					bottom: 0;
				}
			}

			&.active{
				display: block;
			}
		}

		.arrow-thumb{
			position: absolute;
			top: 40%;
			display: block;
			width: 100%;

			a{
				font-size: 32px;
				color: #dadada;

				&:hover, &:focus, &:active{
					text-decoration: none;
				}
			}

		}
	}
}

.getting-started{
	background: $brand-secondary;
	padding: 60px 0 40px 0;

	h3{
		color: $brand-white;
	}

	p{
		// color: darken($brand-white, 10%) !important;
		color: rgba(255,255,255,.8);
	}

	.call-to-action{
		display: block;
		width: 100%;
		float: left;
		@media screen and (max-width: $screen-md) {
			float: none!important;
			width: 100%;
			text-align: left!important; 
		}
		a.sign-up{
			float: right;
			margin-top: 20px;
			padding: 18px 60px;
			background: #ea574c;
			color: $brand-white;
			@include border-radius(4px);
			-webkit-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.19);
			-moz-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.19);
			-ms-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.19);
			-o-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.19);
			box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.19);
			@media screen and (max-width: $screen-md) {
				float: left!important;
			}

			&:hover, &:focus, &:active{
				text-decoration: none;
			}
			&:hover{
				background: #393e46;
			}
		}
	}
}

.fh5co-pricing{
	padding: 4em 0 6em 0;
	background: #f1faff;
	.pricing{
		display: block;
		float: left;
		margin-bottom: 30px;
	}
	.price-box {
		text-align: center;
		padding: 30px;
		background: $brand-white;
		@include border-radius(5px);
		margin-bottom: 40px;
		position: relative;
		-webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
		-moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
		-ms-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
		-o-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
		box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);

		&.popular{
			.btn-select-plan{
		    	background: $brand-primary;
		    }
		}

	    .btn-select-plan{
	    	padding: 10px 20px;
	    	background: $brand-secondary;
	    	color: $brand-white;

	    	-webkit-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.15);
			-moz-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.15);
			-ms-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.15);
			-o-box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.15);
			box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.15);
	    }
	}
	.pricing-plan {
		margin: 0 0 50px 0;
		padding: 0;
		font-size: 13px;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-weight: 700;
		color: #888f94;

		&.pricing-plan-offer{
			margin-bottom: 24px;
		}

		span{
			display: block;
			margin-top: 10px;
			margin-bottom: 0;
			color: #d5d8db;
		}
	}
	.price {
		font-size: 72px;
		color: #6d6d6d;
		line-height: 50px;
		.currency {
			font-size: 30px;
			top: -0.9em;
			padding-right: 10px;
		}
		small {
			font-size: 13px;
			display: block;
			text-transform: uppercase;
			color: #888f94;
		}
	}
}

.fh5co-services{
	.box-services{
		position: relative;
		margin-bottom: 70px;

		i{
			position: absolute;
			left: 0;
			top: 0;
			font-size: 54px;
			color: $brand-secondary;
		}
	}
	.fh5co-post{
		padding-left: 75px;

		h3{
			font-size: 20px;
			margin-bottom: 15px;
		}
	}
	.call-to-action{
		.btn-learn{
			padding: 12px 30px;
			background: lighten($brand-secondary, 10%);
			color: $brand-white;
		}
	}
}

#fh5co-team{
	background: #f1faff;

.team-box{
	position: relative;
	padding: 30px;
	padding-top: 5em;
	background: $brand-white;
	float: left;
	width: 100%;
	

	-webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
	-ms-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
	-o-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
	box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
	@include border-radius(5px);
	@media screen and (max-width: $screen-md) {
		margin-bottom: 110px;
	}

	.user{
		position: absolute;
		top: 0;
		left: 50%;
		margin-top: -73px;
		margin-left: -73px;
		width: 147px;
		height: 147px;

		img{
			width: 147px;
			height: 147px;
			@include border-radius(50%);
			border: 15px solid #f1faff;
		}

	}

	h3{
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 16px;
		text-transform: uppercase;
	}
	.position{
		font-size: 16px;
		color: #8f989f;
		display: block;
		margin-bottom: 30px;
	}

	.social-media{
		margin: 0;
		padding: 0;

		li{
			display: inline-block;
			margin: 0;
			padding: 0;
			font-size: 24px;
			margin-right: 10px;

			a{
				color: $brand-darker;

				&:hover, &:focus, &:active{
					text-decoration: none;
					color: $brand-primary!important;
				}
			}
		}
	}
}
}
.fh5co-faq{

}
.box-faq{
	margin-bottom: 60px;

	h3{
		font-size: 20px;
		margin-bottom: 20px;
	}
}


// .fh5co-logo-partners{ 	
	.partner-logo {
		margin-bottom: 30px;
		float: left;
		width: 100%;
		vertical-align: middle;
		@include inline-block;
	}
	// > a{ 
	// 	margin-left: 80px;

	// 	&:first-child{
	// 		margin-left: 0;
	// 	}
	// }
// }

.section-heading {
	float: left;
	width: 100%;
	padding-bottom: 50px;
	margin-bottom: 0px;
	clear: both;
	h2 {
		margin: 0 0 0 0;
		font-size: 40px;
		font-weight: 400;
		color: #333;
		position: relative;
		display: block;
		padding-bottom: 10px;
		line-height: 1.5;
		@media screen and (max-width: $screen-sm) {
			font-size: 28px;
		}
	}
	h3 {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.5;
		color: #8f989f;
		position: relative;
		display: block;
		padding-bottom: 30px;
		&:after {
			content: "";
			position: absolute;
			display: block;
			width: 50px;
			height: 2px;
			background: $brand-secondary;
			left: 50%;
			margin-left: -25px;
			bottom: 0;
		}

		@media screen and (max-width: $screen-sm) {
			font-size: 16px!important;
			line-height: 28px;
		}
	}
}

#fh5co-footer{
	background: $brand-bg-footer;
	color: #74889e;
	a{
		color: #74889e;
			&:hover {
				color: $brand-white!important;
				text-decoration: underline;
			}
	}

	.section-title{
		font-size: 22px;
		color: $brand-white;
		position: relative;
		padding-bottom: 20px;

		&:after{
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			display: block;
		width: 35px;
		height: 2px;
		background: $brand-secondary;
		}
	}

	.copy-right{
		position: relative;
		padding-top: 20px;
		margin-top: 40px;

		> a{
			color: rgba(255,255,255,.4);
		}

		&:after{
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			display: block;
			width: 35px;
			height: 2px;
			background: $brand-secondary;
		}
	}
	.contact-info{
		margin: 0 0 60px 0;
		padding: 0;
		li{
			font-size: 16px;
			list-style: none;
			margin: 0 0 20px 0;
			position: relative;
			padding-left: 40px;

			i{
				position: absolute;
				top: 0;
				left: 0;
				font-size: 22px;
				color: $brand-secondary;
			}

			
		}
	}
	.social-media{
		margin: 0 0 30px 0;
		padding: 0;
		
		li{
			display: inline-block;
			margin: 0;
			padding: 0;
			font-size: 24px;
			margin-right: 10px;

			a{
				color: $brand-secondary;

				&:hover, &:focus, &:active{
					text-decoration: none;
				}
			}
		}
	}

	.contact-form{
		.form-group{
			input[type="name"],
			input[type="text"],
			input[type="email"],
			textarea {
				font-size: 16px;
				&::-webkit-input-placeholder {
				    color: rgba(255,255,255,.5);
				}

				&:-moz-placeholder { /* Firefox 18- */
				    color: rgba(255,255,255,.5);  
				}

				&::-moz-placeholder {  /* Firefox 19+ */
				    color: rgba(255,255,255,.5);  
				}

				&:-ms-input-placeholder {  
				   color: rgba(255,255,255,.5);  
				}
			}

			input{
				color: #fff;
				background: transparent;
				border: none;
				background: #485b71;
				box-shadow: none;
			
			}
			textarea{
				color: #fff;
				// color: #74889e !important;
				background: transparent;
				border: none;
				background: #485b71;
				box-shadow: none;
			}
		}
		
		
	}
	#btn-submit {
		color: rgba(255,255,255,.9)!important;
		background: $brand-primary!important;

	}
}

.btn {
	@include transition(.3s);
}



// Burger Menu
.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  &.active i {
		&::before, &::after {
			background: $brand-primary;
		}
  }
  &:hover, &:focus, &:active {
  	outline: none;
  	border-bottom: none!important;
  }
  i {
  	position: relative;
	  @include inline-block;
	  width: 25px;
	  height: 3px;
	  color: #535659;
	  font:bold 14px/.4 Helvetica;
	  text-transform: uppercase;
	  text-indent:-55px;
	  background: #535659;
	  transition: all .2s ease-out;
		 &::before, &::after {
	  	  content:'';
		  width: 25px;
		  height: 3px;
		  background: #535659;
		  position: absolute;
		  left:0;
		  @include transition(.2s);
	  }
  }
}

.fh5co-nav-toggle i::before {
  top: -7px;
}
.fh5co-nav-toggle i::after {
  bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
  top: -10px;
}
.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}
.fh5co-nav-toggle.active i {
	background: transparent;
}
.fh5co-nav-toggle.active i::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
  position: absolute;
  top: 2px;
  right: 15px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none!important;
  @media screen and (max-width: $screen-sm) {
  	display: block;
  }
}


.btn {
	text-transform: uppercase;
	letter-spacing: 2px;
	@include transition(.3s);
	&.btn-primary {
		background: $brand-primary;
		color: $brand-white;
		border: none!important;
		border: 2px solid transparent!important;
		&:hover, &:active, &:focus {
			box-shadow: none;
			background: $brand-primary;
		}
	}
	&:hover, &:active, &:focus {
		background: #393e46!important;
		color: $brand-white;
		outline: none!important;
	}
	&.btn-default {
		&:hover, &:focus, &:active {
			border-color: transparent;
		}
	}
}

// Social
.social {
	padding: 0;
	margin: 0;
	display: inline-block;
	position: relative;
	width: 100%;
	li {
		list-style: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		a {
			font-size: 16px;
			display: table;
			width: 40px;
			height: 40px;
			margin: 0 4px;

			i {
				display: table-cell;
				vertical-align: middle;
			}
			&:hover, &:active, &:focus {
				text-decoration: none;
				border-bottom: none;
			}
			&.social-box {
				background: $brand-primary;
				color: $brand-white;
			}
			&.social-circle {
				background: $brand-primary;
				color: $brand-white;
				@include border-radius(50%);
			}
			&:hover {
				background: #393e46!important;
			}

		}
	}
	&.social-box {
		a {
			background: $brand-primary;
			color: $brand-white;
		}
	}
	&.social-circle {
		a {
			background: $brand-primary;
			color: $brand-white;
			@include border-radius(50%);
		}
	}
}

// Map
#map {
	width: 100%;
	height: 500px;
	position: relative;
	@media screen and (max-width: $screen-sm) {
		height: 200px;
	}
}

// Magnific Popup
// Zoom
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}



.js .to-animate,
.js .to-animate-2,
.js .to-animate-3,
.js .single-animate {
	opacity: 0;
}


// Helper Class
.col-xxs-12 {
	@media screen and (max-width: 480px) {
		float: none;
		width: 100%;
	}
}
.row-bottom-padded-lg {
	padding-bottom: 7em;
	@media screen and (max-width: $screen-sm ) {
		padding-bottom: 2em;
	}
}
.row-bottom-padded-md {
	padding-bottom: 4em;
	@media screen and (max-width: $screen-sm ) {
		padding-bottom: 2em;
	}	
}
.row-bottom-padded-sm {
	padding-bottom: 2em;
	@media screen and (max-width: $screen-sm ) {
		padding-bottom: 2em;
	}	
}

// Menu bar Animate
.fh5co-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

// Owl 

.owl-carousel .owl-controls .owl-dot {
	// border: 10px solid red;
	// @include transition(.3s);
	span {
		background: lighten($brand-black, 90%);
		// @include transition(.3s);
		&:hover, &:focus {
			background: lighten($brand-black, 80%);
		}
	}
	&:hover, &:focus {
		span {
			// background: lighten($brand-black, 90%);
			// &:hover, &:focus {
				background: lighten($brand-black, 80%);
			// }
		}
	}
	&.active {
		span {
			background: transparent;
			border: 2px solid $brand-primary;
		}
	}
}